.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pop-movies {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;
}

.movie-preview {
height: 350px;
width: 240px;
background-color: #61dafb;
margin: 15px;
}

.movie-results {
  margin: auto;
  width: 810px;
  display: flex;
  flex-wrap: wrap;
}

.movie-details {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 800px;
  margin: auto;
  margin-bottom: 24px;
}

.movie-detail-img {
  width: 50%;
  height: 100%;
}

.movie-info {
  width: 50%;
  height: 100%;
  background-color: red;
  overflow: auto;
}

.top-scroll-btn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  padding:10px;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  background-color: orangered;
  color: white;
  cursor: pointer;
}